NuGet packages (автоматически установятся при dotnet restore):

Selenium.WebDriver 4.27.0
Selenium.Support 4.27.0
System.Security.Cryptography.ProtectedData 8.0.0


Build (Debug):
→ dotnet run

Build (Release) (Windows):
→ dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true

Build (Release) (Linux):
→ dotnet publish -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true
